<div class="navbar navbar-default">
    <div class="navbar-header">
        <img src="assets/images/logo_ugent.png" class="navbar-brand">

        <!-- The moustaches {{ }} are used to define expressions, in this case it should  binds to the 'applicationName'  property of ApplicationHeaderComponent -->
        <div class="navbar-brand"></div>
    </div>
    <div class="navbar-form navbar-right" >

        <!-- The brackets ( ) are used to bind events to function, in this case it should bind the click event to the 'loginUser" function of the ApplicationHeaderComponent -->
        <button type="button" class="btn btn-default" >Login</button>
    </div>
</div>