<div class="list-group d-table" >

    <!-- TODO: show the list of  contacts. Look at the InitialContactListViewer class what is available. -->
    <a *ngFor="" class="list-group-item"  >

        <contact-viewer class="d-inline-block"></contact-viewer>

    </a>

    <!-- TODO: bonus: if a user clicks a contact, it should be visibly selected -->
    <!-- If the a-tag has the 'active' class it will be shown as blue, this class will be added to the a-tag by angular if
    [class.active] is given a true value -->


</div>